<div class='container'>
<h1>New Product</h1>

	<%= form_for(:item, :url => { :controller=>"products", :action =>"create" }) do |f| %>
		<table class ='table'>
			<tbody>
				<tr>
					<td><%= f.label :name %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><%= f.label :description %></td>
					<td><%= f.text_field :description %></td>
				</tr>
				<tr>
					<td><%= f.label :price %></td>
					<td><%= f.number_field(:price, in: 0.00..999999.00,step: 0.01) %></td>
				</tr>
				<tr>
					<td><%= f.label :category %></td>
					<td><%= f.select(:category_id,@category)%></td>
				</tr>
				<tr>
					<td></td>
					<td><%= f.submit ('Create'), :class =>"btn btn-warning"%></td>
				</tr>
			</tbody>
		</table>
	<% end %>
	<a class="btn btn-primary btn-block" href="/">Go Back</a>
</div>